{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1-dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
</head>
<body>
<h1>用户注册</h1>

<form method="post" action="">
    <div>
        用户名: <input type="text"  name="username"/>
    </div>

    <div>
        密码: <input type="password" name="password"/>
    </div>

    <div>
        座右铭: <textarea name="text"></textarea>
    </div>

    <div>
        <input type="submit" value="注册">
    </div>

</form>

{% for field in form %}
    <p>{{ field.label }}:{{ field }}</p>
{% endfor %}

<script src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>

</body>
</html>